<h2>Pretraži redatelje</h2>
<!-- action is url where the form goes to -->
<form action="/directors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Ime</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Traži</button>
    </div>
</form>
<br>
<!-- display all directors -->
<!-- < % and % > to run code on the server -->
<!-- directors here is directors declared in directors route in line 24. -->
<% directors.forEach(director => { %>
<!-- = tells server to create whatever text you have inside, output it as html to the page -->
<div class="director-row">
    <div class="director-name"><%= director.name %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/directors/<%= director.id %>">Pregledaj</a>
        <a class="btn btn-primary" href="/directors/<%= director.id %>/edit">Uredi</a>
        <!-- method is post but it will be overriden by _method -->
        <!-- that is why we used methodOverride and gave it argument _method in server.js -->
        <!-- works like links above but is inside of a form so that we can use a delete method 
        instead of get -->
        <!-- broken down into a partial since it's going to be used everywhere -->
        <!-- including that partial and just passing parameters -->
        <%- include('../partials/deleteForm', {url: `/directors/${director.id}`}) %>
    </div>
</div>
<!-- <form method="POST" action="/directors/<%= director.id %>?_method=DELETE">
        <button type="submit">Obriši</button>
    </form> -->
<% }) %>