<h2>Pretraži filmove</h2>

<!-- action is url where the form goes to -->
<form action="/movies" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Naslov</label>
            <input type="text" name="title" value="<%= searchOptions.title %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Izlazak nakon</label>
            <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
        </div>
        <div class="form-item">
            <label>Izlazak prije</label>
            <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Traži</button>
    </div>
</form>
<br>
<!-- display all movies -->
<div class="movie-grid"><% movies.forEach(movie => { %>
    <a href="/movies/<%= movie.id %>"><img height="225" width="150" src="<%= movie.coverImagePath %>"></a>
    <% }) %>
</div>
<div class="movie-grid">
    <% movies.forEach(movie => { %>
    <label class="movie-grid-info-title"><%= movie.title %> </label>
    <% }) %>
</div>
<div class="movie-grid">
    <% movies.forEach(movie => { %>
    <label class="movie-grid-info-genre"><%= movie.genre %> </label>
    <% }) %>
</div>
<div class="movie-grid">
    <% movies.forEach(movie => { %>
    <label class="movie-grid-info-rating"><%= movie.rating %> </label>
    <% }) %>
</div>